<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="EnvironmentsDataFile" value="environments" />
		<add key="SystemsDataFile" value="systems" />
		<add key="SitesDataFile" value="sites" />
		<add key="DefaultWebTestAssembly" value="NUnitTesting.WebTests" />
		<add key="DefaultUnitTestAssembly" value="NUnitTesting.UnitTests" />
		<add key="DefaultTestLauncher" value="NUnitTesting.TestLauncher"/>
	</appSettings>
	<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<NUnit>
		<TestRunner>
			<!-- WatiN can only host IE in STA mode -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>
